#window {
    margin-top: 4px;
}
#waybar {
    background-color: rgba(0, 0, 0, 0.85);
    color: #EEEEEE;
}
.modules-left {
    padding-left: 10px;
}
.modules-right {
    padding-right: 10px;
}
#clock {
    margin: 6px 0 6px 0;
    font-size: 11px;
}
#workspaces {
    font-size: 10px;
    margin: 4px 0 4px 0;
    padding: 1px 4px;
    border: 1px solid #4B527E;
    border-radius: 0;
}
#workspaces button {
    margin: 0;
    padding: 0 4px;
    min-height: 0;
    color: #EEEEEE;
    border-radius: 0;
    font-size: 10px;
}
#workspaces button.active {
    color: #088395;
}
#workspaces button:hover {
    box-shadow: none;
    border: none;
}
#temperature {
    font-size: 10px;
    margin: 4px 0;
    padding: 0 4px;
}
#mpris.icon {
    font-size: 8px;
    margin: 4px 0;
    padding: 0 8px 0 6px;
    background-color: #176B87;
}
#mpris.text {
    font-size: 10px;
    margin: 4px 0;
    padding: 0 6px;
    background-color: #164B60;
}
#custom-pulseaudio-icon {
    font-size: 12px;
    margin: 4px 0 4px 0;
    padding: 2px 10px 2px 6px;
    background-color: #79155B;
}
#custom-pulseaudio-bar {
    font-size: 10px;
    background-color: #79155B;
    margin: 4px 0 4px 0;
    padding-right: 6px;
}
